@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    MovieRent<br />
    Institucion Universitaria Salazar y Herrera, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    999-999-99-00
</address>

<address>
    <strong>Support:</strong> <a href="">support@MovieRent.com</a><br />
    <strong>Marketing:</strong> <a href="">marketing@MovieRent.com</a>
</address>
